.cover-div{
    
    background-size: cover;
     background-position: center; 
     min-height: 650px;
}

body, .navbar {
   margin: 0;
   padding: 0;
}

.btn-primary{
    background-color: #7d8c7c;
    border: inherit;
}

.floating-nav{
    margin: 5px;
    background-color: #7d8c7c !important;
    border-radius: 10px;
    position: absolute;
    width: 99%;
}

.floating-nav a{
    color: white;
}